<div class="panel-left">
	<div class="box">	
		<a href="#" id="myBtn">
			OPTIONS
		</a>
	</div>
	<div class="box box-2x">
			Items/Page<br>
			<input type="number" id="Itemsperpage" placeholder="Type Here" min="0" max="8" class="red" >
	
	</div>
</div>

